In [30]:
import pandas as pd

In [31]:
trip_path = "C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\NHTS Data\\trippub.csv"
pers_path = "C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\NHTS Data\\perpub.csv"

temp=pd.read_csv(trip_path)
temp=temp.head(10000)
temp.to_csv("C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\NHTS Data\\dummy_trippub.csv",index=False)
temp=pd.read_csv(pers_path)
temp=temp.head(2500)
temp.to_csv("C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\NHTS Data\\dummy_perpub.csv",index=False)

In [32]:
trip_path = "C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\NHTS Data\\dummy_trippub.csv"
pers_path = "C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\NHTS Data\\dummy_perpub.csv"
hous_path = "C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\NHTS Data\\hhpub.csv"

tripcols=['HOUSEID','PERSONID','TDTRPNUM','STRTTIME','ENDTIME','TRVLCMIN','DWELTIME','WHYTRP1S']
perscols=['HOUSEID','PERSONID','R_RACE']
houscols=['HOUSEID']

trip_data=pd.read_csv(trip_path,usecols=tripcols)
pers_data=pd.read_csv(pers_path,usecols=perscols)
hous_data=pd.read_csv(hous_path,usecols=houscols)

In [33]:
merged_data = pd.merge(trip_data, pers_data, on=['HOUSEID', 'PERSONID'], how='left')

In [34]:
merged_data.head(15)

,HOUSEID,PERSONID,TDTRPNUM,STRTTIME,ENDTIME,TRVLCMIN,DWELTIME,WHYTRP1S,R_RACE
0,30000007,1,1,1000,1015,15,295,20,2.0
1,30000007,1,2,1510,1530,20,-9,1,2.0
2,30000007,2,1,700,900,120,540,1,2.0
3,30000007,2,2,1800,2030,150,-9,10,2.0
4,30000007,3,1,845,900,15,330,20,2.0
5,30000007,3,2,1430,1445,15,-9,1,2.0
6,30000008,1,1,1115,1130,15,720,10,1.0
7,30000008,1,2,2330,2340,10,-9,1,1.0
8,30000012,1,1,550,605,15,55,50,1.0
9,30000012,1,2,700,715,15,15,1,1.0
10,30000012,1,3,730,740,10,25,50,1.0
11,30000012,1,4,805,815,10,45,1,1.0
12,30000012,1,5,900,920,20,295,10,1.0
13,30000012,1,6,1415,1440,25,50,10,1.0
14,30000012,1,7,1530,1605,35,70,1,1.0

In [35]:
#including hours (0-23)
data_w_hours=[]

for index, row in pers_data.iterrows():
    houseid = row['HOUSEID']
    personid = row['PERSONID']
    
    # Create 24 rows for each combination of HOUSEID and PERSONID
    for hour in range(24):
        data_w_hours.append({
            'HOUSEID': houseid,
            'PERSONID': personid,
            'HOUR': hour,
            'FROM' : 1,
            'TO' : 1
        })
data_w_hours=pd.DataFrame(data_w_hours)
data_w_hours.head(30)

     HOUSEID  PERSONID  HOUR
0   30000007         1     0
1   30000007         1     1
2   30000007         1     2
3   30000007         1     3
4   30000007         1     4
5   30000007         1     5
6   30000007         1     6
7   30000007         1     7
8   30000007         1     8
9   30000007         1     9
10  30000007         1    10
11  30000007         1    11
12  30000007         1    12
13  30000007         1    13
14  30000007         1    14
15  30000007         1    15
16  30000007         1    16
17  30000007         1    17
18  30000007         1    18
19  30000007         1    19
20  30000007         1    20
21  30000007         1    21
22  30000007         1    22
23  30000007         1    23
24  30000007         2     0
25  30000007         2     1
26  30000007         2     2
27  30000007         2     3
28  30000007         2     4
29  30000007         2     5

In [36]:
data_w_hours.shape

(60000, 3)

In [42]:
import numpy as np
#put merged_data inside hourdata
hour_i=0
trip_i=0
trip_data = merged_data
hour_data = data_w_hour
merged_data.iloc[trip_i]

# while hour_i<data_w_hours.shape[0]:
while trip_i < trip_data.shape[0]:
    start = trip_data.iloc[trip_i]['STRTTIME']
    end = trip_data.iloc[trip_i]['ENDTIME']
    
    if start//10 != end//10 :
        # means at the begininging of the hour he was in road. So From and To is different
        hour_i+= (start//10 + 1)
        while(hour_i<=end//10): 
            hour_data.iloc[hour_i]['TO']=trip_data.iloc[trip_i]['WHYTRP1S']
            hour_i+=1
    else:
        hour_i+= (start//10 + 1)
            hour_data.iloc[hour_i]['FROM']=trip_data.iloc[trip_i]['WHYTRP1S']
            hour_data.iloc[hour_i]['TO']=trip_data.iloc[trip_i]['WHYTRP1S']

HOUSEID     30000007.0
PERSONID           1.0
TDTRPNUM           1.0
STRTTIME        1000.0
ENDTIME         1015.0
TRVLCMIN          15.0
DWELTIME         295.0
WHYTRP1S          20.0
R_RACE             2.0
Name: 0, dtype: float64