In [23]:
import pandas as pd

In [24]:
trip_path = "C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\NHTS Data\\trippub.csv"
pers_path = "C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\NHTS Data\\perpub.csv"

temp=pd.read_csv(trip_path)
temp=temp.head(10000)
temp.to_csv("C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\NHTS Data\\dummy_trippub.csv",index=False)
temp=pd.read_csv(pers_path)
temp=temp.head(2500)
temp.to_csv("C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\NHTS Data\\dummy_perpub.csv",index=False)

In [25]:
trip_path = "C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\NHTS Data\\trippub.csv"
pers_path = "C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\NHTS Data\\perpub.csv"
hous_path = "C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\NHTS Data\\hhpub.csv"

tripcols=['HOUSEID','PERSONID','TDTRPNUM','STRTTIME','ENDTIME','TRVLCMIN','DWELTIME','WHYTRP1S']
perscols=['HOUSEID','PERSONID','R_RACE','R_SEX', 'R_AGE', 'WRKCOUNT','HHVEHCNT', 'HHSIZE','EDUC','HHFAMINC']
houscols=['HOUSEID']

trip_data=pd.read_csv(trip_path,usecols=tripcols)
pers_data=pd.read_csv(pers_path,usecols=perscols)
hous_data=pd.read_csv(hous_path,usecols=houscols)

In [26]:
merged_data = pd.merge(trip_data, pers_data, on=['HOUSEID', 'PERSONID'], how='left', indicator=True)

In [27]:
# merged_data = pd.merge(trip_data, pers_data, on=['HOUSEID', 'PERSONID'], how='left', indicator=True)
# all_combinations_present = (merged_data['_merge'] != 'both').sum()

# print("All combinations present:", all_combinations_present)
merged_data.isnull().sum()

HOUSEID     0
PERSONID    0
TDTRPNUM    0
STRTTIME    0
ENDTIME     0
TRVLCMIN    0
DWELTIME    0
WHYTRP1S    0
R_AGE       0
EDUC        0
R_SEX       0
R_RACE      0
HHSIZE      0
HHVEHCNT    0
HHFAMINC    0
WRKCOUNT    0
_merge      0
dtype: int64

In [28]:
merged_data.head(15)

,HOUSEID,PERSONID,TDTRPNUM,STRTTIME,ENDTIME,TRVLCMIN,DWELTIME,WHYTRP1S,R_AGE,EDUC,R_SEX,R_RACE,HHSIZE,HHVEHCNT,HHFAMINC,WRKCOUNT,_merge
0,30000007,1,1,1000,1015,15,295,20,67,3,2,2,3,5,7,1,both
1,30000007,1,2,1510,1530,20,-9,1,67,3,2,2,3,5,7,1,both
2,30000007,2,1,700,900,120,540,1,66,3,1,2,3,5,7,1,both
3,30000007,2,2,1800,2030,150,-9,10,66,3,1,2,3,5,7,1,both
4,30000007,3,1,845,900,15,330,20,28,2,2,2,3,5,7,1,both
5,30000007,3,2,1430,1445,15,-9,1,28,2,2,2,3,5,7,1,both
6,30000008,1,1,1115,1130,15,720,10,55,5,1,1,2,4,8,2,both
7,30000008,1,2,2330,2340,10,-9,1,55,5,1,1,2,4,8,2,both
8,30000012,1,1,550,605,15,55,50,45,5,2,1,1,2,10,1,both
9,30000012,1,2,700,715,15,15,1,45,5,2,1,1,2,10,1,both
10,30000012,1,3,730,740,10,25,50,45,5,2,1,1,2,10,1,both
11,30000012,1,4,805,815,10,45,1,45,5,2,1,1,2,10,1,both
12,30000012,1,5,900,920,20,295,10,45,5,2,1,1,2,10,1,both
13,30000012,1,6,1415,1440,25,50,10,45,5,2,1,1,2,10,1,both
14,30000012,1,7,1530,1605,35,70,1,45,5,2,1,1,2,10,1,both

In [29]:
merged_data.dropna()
merged_data.isnull().sum()

HOUSEID     0
PERSONID    0
TDTRPNUM    0
STRTTIME    0
ENDTIME     0
TRVLCMIN    0
DWELTIME    0
WHYTRP1S    0
R_AGE       0
EDUC        0
R_SEX       0
R_RACE      0
HHSIZE      0
HHVEHCNT    0
HHFAMINC    0
WRKCOUNT    0
_merge      0
dtype: int64

In [30]:
#including hours (0-23)
data_w_hours=[]

for index, row in merged_data.iterrows():
    houseid = row['HOUSEID']
    personid = row['PERSONID']
    r_age = row['R_AGE']
    educ = row['EDUC']
    r_sex = row['R_SEX']
    r_race = row['R_RACE']
    hhhsize = row['HHSIZE']
    hhvehcnt = row['HHVEHCNT']
    hhfaminc = row['HHFAMINC']
    wrkcount = row['WRKCOUNT']
    
    # Create 24 rows for each combination of HOUSEID and PERSONID
    for hour in range(24):
        data_w_hours.append({
            'HOUSEID': houseid,
            'PERSONID': personid,
            'HOUR': hour,
            'R_AGE': r_age,
            'EDUC': educ,
            'R_SEX': r_sex,
            'R_RACE': r_race,
            'HHSIZE': hhhsize,
            'HHVEHCNT': hhvehcnt,
            'HHFAMINC': hhfaminc,
            'WRKCOUNT': wrkcount,
            'FROM': 1,  # Replace with appropriate values,
            'TO': 1    # Replace with appropriate values
        })
data_w_hours=pd.DataFrame(data_w_hours)
data_w_hours.head(30)

,HOUSEID,PERSONID,HOUR,R_AGE,EDUC,R_SEX,R_RACE,HHSIZE,HHVEHCNT,HHFAMINC,WRKCOUNT,FROM,TO
0,30000007,1,0,67,3,2,2,3,5,7,1,1,1
1,30000007,1,1,67,3,2,2,3,5,7,1,1,1
2,30000007,1,2,67,3,2,2,3,5,7,1,1,1
3,30000007,1,3,67,3,2,2,3,5,7,1,1,1
4,30000007,1,4,67,3,2,2,3,5,7,1,1,1
5,30000007,1,5,67,3,2,2,3,5,7,1,1,1
6,30000007,1,6,67,3,2,2,3,5,7,1,1,1
7,30000007,1,7,67,3,2,2,3,5,7,1,1,1
8,30000007,1,8,67,3,2,2,3,5,7,1,1,1
9,30000007,1,9,67,3,2,2,3,5,7,1,1,1
10,30000007,1,10,67,3,2,2,3,5,7,1,1,1
11,30000007,1,11,67,3,2,2,3,5,7,1,1,1
12,30000007,1,12,67,3,2,2,3,5,7,1,1,1
13,30000007,1,13,67,3,2,2,3,5,7,1,1,1
14,30000007,1,14,67,3,2,2,3,5,7,1,1,1
15,30000007,1,15,67,3,2,2,3,5,7,1,1,1
16,30000007,1,16,67,3,2,2,3,5,7,1,1,1
17,30000007,1,17,67,3,2,2,3,5,7,1,1,1
18,30000007,1,18,67,3,2,2,3,5,7,1,1,1
19,30000007,1,19,67,3,2,2,3,5,7,1,1,1
20,30000007,1,20,67,3,2,2,3,5,7,1,1,1
21,30000007,1,21,67,3,2,2,3,5,7,1,1,1
22,30000007,1,22,67,3,2,2,3,5,7,1,1,1
23,30000007,1,23,67,3,2,2,3,5,7,1,1,1
24,30000007,1,0,67,3,2,2,3,5,7,1,1,1
25,30000007,1,1,67,3,2,2,3,5,7,1,1,1
26,30000007,1,2,67,3,2,2,3,5,7,1,1,1
27,30000007,1,3,67,3,2,2,3,5,7,1,1,1
28,30000007,1,4,67,3,2,2,3,5,7,1,1,1
29,30000007,1,5,67,3,2,2,3,5,7,1,1,1

In [31]:
data_w_hours.iloc[100]

HOUSEID     30000007
PERSONID           3
HOUR               4
R_AGE             28
EDUC               2
R_SEX              2
R_RACE             2
HHSIZE             3
HHVEHCNT           5
HHFAMINC           7
WRKCOUNT           1
FROM               1
TO                 1
Name: 100, dtype: int64

In [32]:
data_w_hours.shape

(22165728, 13)

### Retrieving position of a specific time from trippup
Asuming each person start each day from home, we calculate his position at the beginning of each hour using his trip data. Here the two columns "TO" and "FROM" defines his position. If the starting time and ending time of a trip is not at the same hour, it means at the start of the hour he was on his way to the destination from the sourse. So the the source is stored at "FROM" and destination is at "TO".

In [33]:
import numpy as np
#put merged_data inside hourdata
hour_i=0
trip_i=0
trip_data = merged_data
hour_data = data_w_hours
merged_data.iloc[trip_i]


f=open("looser.txt",'w')

stop=0
while trip_i < trip_data.shape[0]:
    if hour_i+24 >=hour_data.shape[0] or trip_i >= trip_data.shape[0]: break


    if (trip_data.iloc[trip_i]['HOUSEID'] != hour_data.iloc[hour_i]['HOUSEID'] or
        trip_data.iloc[trip_i]['PERSONID'] != hour_data.iloc[hour_i]['PERSONID']): 
        print(trip_data.iloc[trip_i]['HOUSEID'], hour_data.iloc[hour_i]['PERSONID'],file=f)
    while (trip_data.iloc[trip_i]['HOUSEID'] != hour_data.iloc[hour_i]['HOUSEID'] or
        trip_data.iloc[trip_i]['PERSONID'] != hour_data.iloc[hour_i]['PERSONID']): hour_i+=1

    cur_trip=trip_i

    while(trip_data.iloc[cur_trip]['HOUSEID']==trip_data.iloc[trip_i]['HOUSEID'] and
            trip_data.iloc[cur_trip]['PERSONID']==trip_data.iloc[trip_i]['PERSONID']): 
            trip_i+=1
            if trip_i >= trip_data.shape[0] : 
                stop=1
                break
    if stop: break

    form = 1
    to = 1
    cur_hour=0
    while cur_hour<24:
        start = trip_data.iloc[cur_trip]['STRTTIME']
        end = trip_data.iloc[cur_trip]['ENDTIME']
        hour_data.iloc[cur_hour+hour_i]['FROM']=form
        hour_data.iloc[cur_hour+hour_i]['TO']=to

        if cur_hour==start//100:
            if start//100 != end//100 :
                while(cur_hour<=end//100): 
                    hour_data.iloc[cur_hour+hour_i]['TO']=trip_data.iloc[cur_trip]['WHYTRP1S']
                    to=trip_data.iloc[cur_trip]['WHYTRP1S']
                    cur_hour+=1
            else :
                hour_data.iloc[cur_hour+hour_i]['FROM']=trip_data.iloc[cur_trip]['WHYTRP1S']
                hour_data.iloc[cur_hour+hour_i]['TO']=trip_data.iloc[cur_trip]['WHYTRP1S']
                form=trip_data.iloc[cur_trip]['WHYTRP1S']
                to=trip_data.iloc[cur_trip]['WHYTRP1S']
            cur_trip+=1
        cur_hour+=1
    hour_i+=24

    

f.close()

In [34]:
data_w_hours.head(5)

,HOUSEID,PERSONID,HOUR,R_AGE,EDUC,R_SEX,R_RACE,HHSIZE,HHVEHCNT,HHFAMINC,WRKCOUNT,FROM,TO
0,30000007,1,0,67,3,2,2,3,5,7,1,1,1
1,30000007,1,1,67,3,2,2,3,5,7,1,1,1
2,30000007,1,2,67,3,2,2,3,5,7,1,1,1
3,30000007,1,3,67,3,2,2,3,5,7,1,1,1
4,30000007,1,4,67,3,2,2,3,5,7,1,1,1

In [35]:
data_w_hours.dropna()

,HOUSEID,PERSONID,HOUR,R_AGE,EDUC,R_SEX,R_RACE,HHSIZE,HHVEHCNT,HHFAMINC,WRKCOUNT,FROM,TO
0,30000007,1,0,67,3,2,2,3,5,7,1,1,1
1,30000007,1,1,67,3,2,2,3,5,7,1,1,1
2,30000007,1,2,67,3,2,2,3,5,7,1,1,1
3,30000007,1,3,67,3,2,2,3,5,7,1,1,1
4,30000007,1,4,67,3,2,2,3,5,7,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22165723,50515573,1,19,52,5,1,1,1,0,10,1,1,1
22165724,50515573,1,20,52,5,1,1,1,0,10,1,1,1
22165725,50515573,1,21,52,5,1,1,1,0,10,1,1,1
22165726,50515573,1,22,52,5,1,1,1,0,10,1,1,1
22165727,50515573,1,23,52,5,1,1,1,0,10,1,1,1

In [36]:
data_w_hours.isnull().sum()

HOUSEID     0
PERSONID    0
HOUR        0
R_AGE       0
EDUC        0
R_SEX       0
R_RACE      0
HHSIZE      0
HHVEHCNT    0
HHFAMINC    0
WRKCOUNT    0
FROM        0
TO          0
dtype: int64

In [37]:
hour_data.to_csv('hour_data.csv',index=False)