In [5]:
# pip install ipfn

In [6]:
# import pandas as pd
# from ipfn import ipfn
# import numpy as np
# #a=pd.read_csv("/content/2D Ipf - Untitled spreadsheet - Sheet1.csv")
# n=[[[476,410],[472,400],[407,483],[413,413]],[[410,400],[465,472],[460,488],[424,491]]]


# xipp=np.array([4200,3446])
# xpjp=np.array([2005,2000,1958,2043])
# xppk=np.array([4250,4500])
# xijp=np.array([[975,981,974,975],[946,952,947,946]])
# xpjk=np.array([[1200,1183],[1000,950],[900,1050],[950,1109]])

# n=np.array(n)
# aggregates=[xipp,xpjp,xppk,xijp,xpjk]
# dimensions=[[0],[1],[2],[0,1],[1,2]]
# IPF=ipfn.ipfn(n,aggregates,dimensions,convergence_rate=1e-6)
# n=IPF.iteration()
# print(n)

In [7]:
import pandas as pd
import numpy as np
import random
import itertools

'''
code for testing 

NOT IMPORTANT!

'''
np.random.seed(37)
random.seed(37)

height = [
    np.random.normal(5.5, 1.0, 100),
    np.random.normal(5.3, 1.0, 200),
    np.random.normal(5.9, 1.0, 300),
    np.random.normal(5.7, 1.0, 200),
    np.random.normal(5.3, 1.0, 400),
    np.random.normal(5.2, 1.0, 500),
    np.random.normal(5.8, 1.0, 300),
    np.random.normal(5.5, 1.0, 200)
]

#height = normal distribution **(HAVE TO BE FETCHED FROM PUMS) 

demographic = [
    ['white', 'minor', 'male'],
    ['white', 'minor', 'female'],
    ['white', 'adult', 'male'],
    ['white', 'adult', 'female'],
    ['other', 'minor', 'male'],
    ['other', 'minor', 'female'],
    ['other', 'adult', 'male'],
    ['other', 'adult', 'female']
]

data = [[{'race': d[0], 'age': d[1], 'gender': d[2], 'height': h} for h in s]
        for d, s in zip(demographic, height)]
data = list(itertools.chain(*data))

df = pd.DataFrame(data)
df.head()

    race    age gender    height
0  white  minor   male  5.445536
1  white  minor   male  6.174308
2  white  minor   male  5.846647
3  white  minor   male  4.199654
4  white  minor   male  7.018512

In [8]:
races=['white','black','native','asian','pacific-islander','other']
genders=['male','female']
ages=['child','tenager','young-adult','adult','senior']
demographic = [[i, j, k] for i in races for j in ages for k in genders]
demographic
# demographic ready. 

# data = pums

[['white', 'child', 'male'],
 ['white', 'child', 'female'],
 ['white', 'tenager', 'male'],
 ['white', 'tenager', 'female'],
 ['white', 'young-adult', 'male'],
 ['white', 'young-adult', 'female'],
 ['white', 'adult', 'male'],
 ['white', 'adult', 'female'],
 ['white', 'senior', 'male'],
 ['white', 'senior', 'female'],
 ['black', 'child', 'male'],
 ['black', 'child', 'female'],
 ['black', 'tenager', 'male'],
 ['black', 'tenager', 'female'],
 ['black', 'young-adult', 'male'],
 ['black', 'young-adult', 'female'],
 ['black', 'adult', 'male'],
 ['black', 'adult', 'female'],
 ['black', 'senior', 'male'],
 ['black', 'senior', 'female'],
 ['native', 'child', 'male'],
 ['native', 'child', 'female'],
 ['native', 'tenager', 'male'],
 ['native', 'tenager', 'female'],
 ['native', 'young-adult', 'male'],
 ['native', 'young-adult', 'female'],
 ['native', 'adult', 'male'],
 ['native', 'adult', 'female'],
 ['native', 'senior', 'male'],
 ['native', 'senior', 'female'],
 ['asian', 'child', 'male'],
 ['asian', 'child', 'female'],
 ['asian', 'tenager', 'male'],
 ['asian', 'tenager', 'female'],
 ['asian', 'young-adult', 'male'],
 ['asian', 'young-adult', 'female'],
 ['asian', 'adult', 'male'],
 ['asian', 'adult', 'female'],
 ['asian', 'senior', 'male'],
 ['asian', 'senior', 'female'],
 ['pacific-islander', 'child', 'male'],
 ['pacific-islander', 'child', 'female'],
 ['pacific-islander', 'tenager', 'male'],
 ['pacific-islander', 'tenager', 'female'],
 ['pacific-islander', 'young-adult', 'male'],
 ['pacific-islander', 'young-adult', 'female'],
 ['pacific-islander', 'adult', 'male'],
 ['pacific-islander', 'adult', 'female'],
 ['pacific-islander', 'senior', 'male'],
 ['pacific-islander', 'senior', 'female'],
 ['other', 'child', 'male'],
 ['other', 'child', 'female'],
 ['other', 'tenager', 'male'],
 ['other', 'tenager', 'female'],
 ['other', 'young-adult', 'male'],
 ['other', 'young-adult', 'female'],
 ['other', 'adult', 'male'],
 ['other', 'adult', 'female'],
 ['other', 'senior', 'male'],
 ['other', 'senior', 'female']]

In [9]:
col_list = ["race", "age", "sex"]
df = pd.read_csv("CA-data\\pums\\temp_pums.csv", usecols=col_list)
df = df.rename(columns={'sex': 'gender'})
df=df[["race", "age", "gender"]]
df.head()

    race    age  gender
0  white  adult    male
1  white  adult  female
2  white  adult  female
3  white  adult    male
4  white  child  female

In [10]:
df.race.value_counts().sort_index() / df.shape[0]

asian               0.155002
black               0.049501
native              0.009594
other               0.167348
pacific-islander    0.003324
white               0.615231
Name: race, dtype: float64

In [11]:
df.age.value_counts().sort_index() / df.shape[0]

adult          0.449458
child          0.061857
senior         0.237363
tenager        0.160665
young-adult    0.090657
Name: age, dtype: float64

In [12]:
df.gender.value_counts().sort_index() / df.shape[0]

female    0.506828
male      0.493172
Name: gender, dtype: float64

In [13]:
def get_target_marginals(d):
    factors = list(d.keys())
    targets = [sorted([(k2, v2) for k2, v2 in v.items()]) for k, v in d.items()]
    targets = np.array([[v for _, v in item] for item in targets])
    return factors, targets

def get_table(df, targets):
    factors, target_marginals = get_target_marginals(targets)

    cross_tab = pd.crosstab(df[factors[0]], [df[c] for c in factors[1:]])
    shape = tuple([df[c].unique().shape[0] for c in factors])
    table = cross_tab.values.reshape(shape)

    return factors, target_marginals, table

Loading data from census

In [14]:
#ddg = demographic_data_groups
ddg=pd.read_csv("CA-data\\census\\temp_demographic.csv")

ddg

,topic,category,sub-category,id,value
0,"CITIZEN, VOTING AGE POPULATION","Citizen, 18 and over population",Female,DP05_0089E,12982938.0
1,"CITIZEN, VOTING AGE POPULATION","Citizen, 18 and over population",Male,DP05_0088E,12511445.0
2,"CITIZEN, VOTING AGE POPULATION","Citizen, 18 and over population",NaN,DP05_0087E,25494383.0
3,HISPANIC OR LATINO AND RACE,Total population,Hispanic or Latino (of any race),DP05_0071E,15327688.0
4,HISPANIC OR LATINO AND RACE,Total population,Hispanic or Latino (of any race),DP05_0072E,12687312.0
...,...,...,...,...,...
84,SEX AND AGE,Total population,Sex ratio (males per 100 females),DP05_0004E,98.8
85,SEX AND AGE,Total population,Under 18 years,DP05_0019E,9022146.0
86,SEX AND AGE,Total population,Under 5 years,DP05_0005E,2451528.0
87,SEX AND AGE,Total population,NaN,DP05_0001E,39283497.0
88,Total housing units,NaN,NaN,DP05_0086E,14175976.0

In [15]:
temp_race = {'white': 'DP05_0064E', 'black': 'DP05_0065E', 'native': 'DP05_0066E',
             'asian': 'DP05_0067E', 'pacific-islander': 'DP05_0068E', 'other': 'DP05_0069E'}
temp_sex = {'male': 'DP05_0002E', 'female': 'DP05_0003E'}
temp_age = {
    'child': ddg.loc[ddg['id'] == 'DP05_0005E', 'value'].values[0],
    'tenager': ddg.loc[ddg['id'] == 'DP05_0006E', 'value'].values[0]+ddg.loc[ddg['id'] == 'DP05_0007E', 'value'].values[0]+ddg.loc[ddg['id'] == 'DP05_0008E', 'value'].values[0],
    'young-adult': ddg.loc[ddg['id'] == 'DP05_0009E', 'value'].values[0],
    'adult': ddg.loc[ddg['id'] == 'DP05_0010E', 'value'].values[0]+ddg.loc[ddg['id'] == 'DP05_0011E', 'value'].values[0]+ddg.loc[ddg['id'] == 'DP05_0012E', 'value'].values[0]+ddg.loc[ddg['id'] == 'DP05_0013E', 'value'].values[0],
    'senior': ddg.loc[ddg['id'] == 'DP05_0014E', 'value'].values[0]+ddg.loc[ddg['id'] == 'DP05_0015E', 'value'].values[0]+ddg.loc[ddg['id'] == 'DP05_0016E', 'value'].values[0]+ddg.loc[ddg['id'] == 'DP05_0017E', 'value'].values[0]
}
margin_dict = {
    'race': {key: ddg.loc[ddg['id'] == value, 'value'].values[0] for key, value in temp_race.items()},
    'age': temp_age,
    'gender': {key: ddg.loc[ddg['id'] == value, 'value'].values[0] for key, value in temp_sex.items()}
}
# ddg.columns
# df = pd.read_csv("CA-data\\pums\\temp_pums.csv", usecols=col_list)
margin_dict

{'race': {'white': 25048942.0,
  'black': 2766478.0,
  'native': 762733.0,
  'asian': 6551732.0,
  'pacific-islander': 323042.0,
  'other': 5944874.0},
 'age': {'child': 2451528.0,
  'tenager': 7608859.0,
  'young-adult': 2751567.0,
  'adult': 18748401.0,
  'senior': 7723142.0},
 'gender': {'male': 19526298.0, 'female': 19757199.0}}

In [20]:
#create this table after sehri (get vlaues from census)
f, u, X = get_table(df, {
    'race': {'white': 5800, 'other': 4200},
    'age': {'minor': 2800, 'adult': 7200},
    'gender': {'male': 4900, 'female': 5100}
})
# f, u, X = get_table(df, margin_dict)

X = contigency table\
u = target marginals\
f = helper vector

In [21]:
X

array([[[ 77445,  66742],
        [  7425,   7980],
        [ 37571,  29021],
        [ 19800,  20902],
        [ 12627,  13047]],

       [[ 20684,  22054],
        [  2383,   2435],
        [ 12548,   9971],
        [  6689,   7353],
        [  4219,   5096]],

       [[  4074,   4166],
        [   613,    596],
        [  1995,   1648],
        [  1592,   1703],
        [   825,    897]],

       [[ 69512,  70587],
        [ 14692,  15256],
        [ 18566,  15705],
        [ 35630,  37630],
        [ 18625,  19660]],

       [[  1556,   1536],
        [   192,    199],
        [   560,    474],
        [   516,    493],
        [   353,    394]],

       [[253536, 256443],
        [ 31668,  33313],
        [171761, 148193],
        [ 83393,  87548],
        [ 45569,  49800]]], dtype=int64)

In [18]:
def get_coordinates(M):
    return list(itertools.product(*[list(range(n)) for n in M.shape]))

def get_marginals(M, i):
    coordinates = get_coordinates(M)

    key = lambda tup: tup[0]
    counts = [(c[i], M[c]) for c in coordinates]
    counts = sorted(counts, key=key)
    counts = itertools.groupby(counts, key=key)
    counts = {k: sum([v[1] for v in g]) for k, g in counts}

    return counts

def get_all_marginals(M):
    return np.array([[v for _, v in get_marginals(M, i).items()]
                     for i in range(len(M.shape))])

def get_counts(M, i):
    coordinates = get_coordinates(M)

    key = lambda tup: tup[0]
    counts = [(c[i], M[c], c) for c in coordinates]
    counts = sorted(counts, key=key)
    counts = itertools.groupby(counts, key=key)
    counts = {k: [(tup[1], tup[2]) for tup in g] for k, g in counts}

    return counts

def update_values(M, i, u):
    marg = get_marginals(M, i)
    vals = get_counts(M, i)

    d = [[(c, n * u[k] / marg[k]) for n, c in v] for k, v in vals.items()]
    d = itertools.chain(*d)
    d = list(d)

    return d

def ipf_update(M, u):
    for i in range(len(M.shape)):
        values = update_values(M, i, u[i])
        for idx, v in values:
            M[idx] = v

    o = get_all_marginals(M)
    d = get_deltas(o, u)

    return M, d

def get_deltas(o, t):
    return np.array([np.linalg.norm(o[r] - t[r], 2) for r in range(o.shape[0])])

def get_weights(X, max_iters=50, zero_threshold=0.0001, convergence_threshold=3, debug=True):
    M = X.copy()

    d_prev = np.zeros(len(M.shape))
    count_zero = 0

    for _ in range(max_iters):
        M, d_next = ipf_update(M, u)
        d = np.linalg.norm(d_prev - d_next, 2)

        if d < zero_threshold:
            count_zero += 1

        if debug:
            print(','.join([f'{v:.5f}' for v in d_next]), d)
        d_prev = d_next

        if count_zero >= convergence_threshold:
            break

    w = M / M.sum()
    return w

In [19]:
w = get_weights(X)

C:\Users\abubabu\AppData\Local\Temp\ipykernel_4188\342377656.py:16: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return np.array([[v for _, v in get_marginals(M, i).items()]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [ ]:
w

NameError: name 'w' is not defined

<b> Sampling </b>

In [ ]:
import functools

def get_sampling_weights(df, f, w):
    get_filters = lambda df, fields, values: [df[f] == v for f, v in zip(fields, values)]
    get_total = lambda df, fields, values: df[functools.reduce(lambda a, b: a & b, get_filters(df, fields, values))].shape[0]

    return {k: v / get_total(df, f, k) for k, v in zip(list(itertools.product(*[sorted(df[c].unique()) for c in f])), np.ravel(w))}

def get_samples(df, f, w, n=10_000):
    weights = get_sampling_weights(df, f, w)
    s = df.apply(lambda r: weights[tuple([r[c] for c in f])], axis=1)
    return df.sample(n=n, replace=True, weights=s)

sample_df = get_samples(df, f, w)
sample_df

       race    age  gender    height
1461  other  minor  female  5.337720
2034  other  adult  female  6.243500
1715  other  adult    male  5.261089
310   white  adult    male  5.682793
1884  other  adult    male  5.192252
...     ...    ...     ...       ...
2140  other  adult  female  6.026459
732   white  adult  female  5.155105
34    white  minor    male  5.273937
117   white  minor  female  5.599598
649   white  adult  female  6.546797

[10000 rows x 4 columns]

In [ ]:
ct = pd.crosstab(sample_df.race, [sample_df.age, sample_df.gender])
ct #cross-tabulation of the resulting sampled matrix.

age     adult        minor
gender female  male female male
race
other    1165  1344   1041  628
white    2225  2492    791  314

In [ ]:
sample_df.race.value_counts().sort_index() / sample_df.shape[0]

other    0.4178
white    0.5822
Name: race, dtype: float64

In [ ]:
sample_df.age.value_counts().sort_index() / sample_df.shape[0]

adult    0.7226
minor    0.2774
Name: age, dtype: float64

In [ ]:
sample_df.gender.value_counts().sort_index() / sample_df.shape[0]

female    0.5222
male      0.4778
Name: gender, dtype: float64