In [33]:
import pandas as pd
import numpy as np
import random
import itertools

col_list = ["SERIALNO","SEX", "RAC1P", "AGEP","SCHL","HINCP","VEH","NP","WIF"]
df = pd.read_csv("C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\CA-data\\pums\\temp_pums.csv", usecols=col_list)

df.head(5)

        SERIALNO    AGEP        SCHL     SEX  RAC1P  HINCP  VEH   NP  WIF
0  2017000000496   adult     college  female  white     10  3.0  3.0  1.0
1  2017000000496  senior     college    male  white     10  3.0  3.0  1.0
2  2017000000496   adult     college    male  white     10  3.0  3.0  1.0
3  2017000000567   adult     college  female  white      8  1.0  2.0  NaN
4  2017000000567   adult  below-high    male  white      8  1.0  2.0  NaN

In [34]:
df.isnull().sum()

SERIALNO        0
AGEP            0
SCHL            0
SEX             0
RAC1P           0
HINCP           0
VEH          2719
NP            336
WIF         10036
dtype: int64

In [35]:
df['VEH']=df['VEH'].fillna(df['VEH'].median())
df['NP']=df['NP'].fillna(df['NP'].median())
df['WIF']=df['WIF'].fillna(df['WIF'].median())

In [36]:
list(df.columns)

['SERIALNO', 'AGEP', 'SCHL', 'SEX', 'RAC1P', 'HINCP', 'VEH', 'NP', 'WIF']

In [37]:
df.head(5)

        SERIALNO    AGEP        SCHL     SEX  RAC1P  HINCP  VEH   NP  WIF
0  2017000000496   adult     college  female  white     10  3.0  3.0  1.0
1  2017000000496  senior     college    male  white     10  3.0  3.0  1.0
2  2017000000496   adult     college    male  white     10  3.0  3.0  1.0
3  2017000000567   adult     college  female  white      8  1.0  2.0  2.0
4  2017000000567   adult  below-high    male  white      8  1.0  2.0  2.0

In [38]:
from itertools import product
household_columns = ["HINCP","VEH","NP","WIF"]
person_columns = ["AGEP","SCHL","SEX","RAC1P"]
household_combinations = []
person_combinations = []
hh_unique_values = {col: df[col].unique() for col in household_columns}
p_unique_values = {col: df[col].unique() for col in person_columns}
for combo in product(*hh_unique_values.values()):
    formatted_combo = '_'.join(f"{value}{col}" for col, value in zip(household_columns, combo))
    household_combinations.append(formatted_combo)
for combo in product(*p_unique_values.values()):
    formatted_combo = '_'.join(f"{value}{col}" for col, value in zip(person_columns, combo))
    person_combinations.append(formatted_combo)
household_combinations.sort()
person_combinations.sort()
len(household_combinations),len(person_combinations)

(2992, 300)

In [39]:
# Generate all possible combinations of characteristics (customize as needed)
# household_combinations = list(set(["{}HINCP_{}VEH_{}NP_{}WIF".format(row["HINCP"], row["VEH"], row["NP"], row["WIF"]) for _, row in df.iterrows()]))
# person_combinations = list(set(["{}AGEP_{}SCHL_{}SEX_{}RAC1P".format(row["AGEP"], row["SCHL"], row["SEX"], row["RAC1P"]) for _, row in df.iterrows()]))
# len(household_combinations),len(person_combinations)
person_combinations[:5]

['adultAGEP_BachelorSCHL_femaleSEX_asianRAC1P',
 'adultAGEP_BachelorSCHL_femaleSEX_blackRAC1P',
 'adultAGEP_BachelorSCHL_femaleSEX_nativeRAC1P',
 'adultAGEP_BachelorSCHL_femaleSEX_otherRAC1P',
 'adultAGEP_BachelorSCHL_femaleSEX_pacific-islanderRAC1P']

In [40]:



# Get unique households
unique_households = df['SERIALNO'].unique()

# Initialize the binary matrix
num_unique_households = len(unique_households)
num_household_combinations = len(household_combinations)
num_person_combinations = len(person_combinations)
binary_matrix = pd.DataFrame(0, index=unique_households, columns=household_combinations + person_combinations)

# Fill the binary matrix
for idx, row in df.iterrows():
    serialno = row['SERIALNO']
    household_combination = "{}HINCP_{}VEH_{}NP_{}WIF".format(row["HINCP"], row["VEH"], row["NP"], row["WIF"])
    person_combination = "{}AGEP_{}SCHL_{}SEX_{}RAC1P".format(row["AGEP"], row["SCHL"], row["SEX"], row["RAC1P"])

    binary_matrix.at[serialno, household_combination] = 1
    binary_matrix.at[serialno, person_combination] += 1  # Increase the frequency

# Save the binary matrix to a CSV file
binary_matrix.to_csv('binary_matrix.csv')

In [41]:
binary_matrix.head(5)

,0HINCP_0.0VEH_1.0NP_0.0WIF,0HINCP_0.0VEH_1.0NP_1.0WIF,0HINCP_0.0VEH_1.0NP_2.0WIF,0HINCP_0.0VEH_1.0NP_3.0WIF,0HINCP_0.0VEH_10.0NP_0.0WIF,0HINCP_0.0VEH_10.0NP_1.0WIF,0HINCP_0.0VEH_10.0NP_2.0WIF,0HINCP_0.0VEH_10.0NP_3.0WIF,0HINCP_0.0VEH_11.0NP_0.0WIF,0HINCP_0.0VEH_11.0NP_1.0WIF,...,young-adultAGEP_collegeSCHL_femaleSEX_nativeRAC1P,young-adultAGEP_collegeSCHL_femaleSEX_otherRAC1P,young-adultAGEP_collegeSCHL_femaleSEX_pacific-islanderRAC1P,young-adultAGEP_collegeSCHL_femaleSEX_whiteRAC1P,young-adultAGEP_collegeSCHL_maleSEX_asianRAC1P,young-adultAGEP_collegeSCHL_maleSEX_blackRAC1P,young-adultAGEP_collegeSCHL_maleSEX_nativeRAC1P,young-adultAGEP_collegeSCHL_maleSEX_otherRAC1P,young-adultAGEP_collegeSCHL_maleSEX_pacific-islanderRAC1P,young-adultAGEP_collegeSCHL_maleSEX_whiteRAC1P
2017000000496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017000000567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017000000954,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017000001569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2017000001843,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
row_index=9
selected_row = binary_matrix.iloc[row_index]
selected_row[selected_row.apply(lambda x: x.isnumeric() and int(x) > 0 if isinstance(x, str) else x > 0)]
# binary_matrix.columns[df.iloc[row_index].apply(lambda x: x > 0 if isinstance(x, (int, float)) else False)]

8HINCP_2.0VEH_5.0NP_1.0WIF                            1
adultAGEP_GraduateSCHL_maleSEX_blackRAC1P             1
tenagerAGEP_below-highSCHL_femaleSEX_blackRAC1P       2
tenagerAGEP_below-highSCHL_maleSEX_blackRAC1P         1
young-adultAGEP_High-schoolSCHL_maleSEX_blackRAC1P    1
Name: 2017000003442, dtype: int64

In [43]:
binary_matrix.max()

0HINCP_0.0VEH_1.0NP_0.0WIF                                   0
0HINCP_0.0VEH_1.0NP_1.0WIF                                   0
0HINCP_0.0VEH_1.0NP_2.0WIF                                   0
0HINCP_0.0VEH_1.0NP_3.0WIF                                   0
0HINCP_0.0VEH_10.0NP_0.0WIF                                  0
                                                            ..
young-adultAGEP_collegeSCHL_maleSEX_blackRAC1P               3
young-adultAGEP_collegeSCHL_maleSEX_nativeRAC1P              2
young-adultAGEP_collegeSCHL_maleSEX_otherRAC1P               1
young-adultAGEP_collegeSCHL_maleSEX_pacific-islanderRAC1P    0
young-adultAGEP_collegeSCHL_maleSEX_whiteRAC1P               6
Length: 3292, dtype: int64

In [44]:
# from collections import Counter
# # Generate all possible combinations of characteristics (customize as needed)
# household_combinations = ["{}HINCP_{}VEH_{}NP_{}WIF".format(row["HINCP"], row["VEH"], row["NP"], row["WIF"]) for _, row in df.iterrows()]
# person_combinations = ["{}AGEP_{}SCHL_{}SEX_{}RAC1P".format(row["AGEP"], row["SCHL"], row["SEX"], row["RAC1P"]) for _, row in df.iterrows()]

# # Get unique households
# unique_households = df['SERIALNO'].unique()

# # Initialize dictionaries to track person characteristic frequencies and unique combinations
# person_freq = Counter(person_combinations)
# unique_household_combinations = set(household_combinations)

# # Create a dictionary to hold the binary matrix data
# binary_data = {}

# # Populate the dictionary with 1s and person frequencies
# for idx, row in df.iterrows():
#     serialno = row['SERIALNO']
#     household_combination = "{}HINCP_{}VEH_{}NP_{}WIF".format(row["HINCP"], row["VEH"], row["NP"], row["WIF"])
#     person_combination = "{}AGEP_{}SCHL_{}SEX_{}RAC1P".format(row["AGEP"], row["SCHL"], row["SEX"], row["RAC1P"])
    
#     if serialno not in binary_data:
#         binary_data[serialno] = {comb: 0 for comb in unique_household_combinations}
    
#     binary_data[serialno][household_combination] = 1
#     binary_data[serialno][person_combination] = person_freq[person_combination]

# # Create a DataFrame from the binary data dictionary
# binary_matrix = pd.DataFrame.from_dict(binary_data, orient='index')

# # Save the binary matrix to a CSV file
# binary_matrix.to_csv('binary_matrix_v2.csv')

In [45]:
binary_matrix.head(5)

,0HINCP_0.0VEH_1.0NP_0.0WIF,0HINCP_0.0VEH_1.0NP_1.0WIF,0HINCP_0.0VEH_1.0NP_2.0WIF,0HINCP_0.0VEH_1.0NP_3.0WIF,0HINCP_0.0VEH_10.0NP_0.0WIF,0HINCP_0.0VEH_10.0NP_1.0WIF,0HINCP_0.0VEH_10.0NP_2.0WIF,0HINCP_0.0VEH_10.0NP_3.0WIF,0HINCP_0.0VEH_11.0NP_0.0WIF,0HINCP_0.0VEH_11.0NP_1.0WIF,...,young-adultAGEP_collegeSCHL_femaleSEX_nativeRAC1P,young-adultAGEP_collegeSCHL_femaleSEX_otherRAC1P,young-adultAGEP_collegeSCHL_femaleSEX_pacific-islanderRAC1P,young-adultAGEP_collegeSCHL_femaleSEX_whiteRAC1P,young-adultAGEP_collegeSCHL_maleSEX_asianRAC1P,young-adultAGEP_collegeSCHL_maleSEX_blackRAC1P,young-adultAGEP_collegeSCHL_maleSEX_nativeRAC1P,young-adultAGEP_collegeSCHL_maleSEX_otherRAC1P,young-adultAGEP_collegeSCHL_maleSEX_pacific-islanderRAC1P,young-adultAGEP_collegeSCHL_maleSEX_whiteRAC1P
2017000000496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017000000567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017000000954,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017000001569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2017000001843,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0