In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler
import csv

In [2]:
df = pd.read_csv("C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\RDF\\RDF\\ABUJA_2019\\2019_ABU_POI_TABLE.csv")
df['POI_TYPE'].value_counts()

Business Facility                    1003
School                                663
Bank                                  580
Hotel                                 569
Place of Worship                      497
Restaurant                            411
Government Office                     359
ATM                                   327
Grocery Store                         323
Shopping                              318
Specialty Store                       282
Residential Area/Building             261
Medical Service                       194
Petrol/Gasoline Station               194
Other Accommodation                   178
Pharmacy                              159
Embassy                               141
Park/Recreation Area                  133
Hospital                              122
Auto Service & Maintenance             86
Sports Centre                          68
Police Station                         60
Tourist Attraction                     52
Consumer Electronics Store             43
Nightlife                              42
Clothing Store                         33
Higher Education                       32
Civic/Community Centre                 31
Home Specialty Store                   31
Court House                            31
Home Improvement & Hardware Store      27
Parking Lot                            18
Post Office                            11
Office Supply & Services Store         11
Convenience Store                      11
Bookstore                              10
Amusement Park                         10
Auto Dealerships                        9
Cinema                                  5
Sports Complex                          4
Bus Station                             4
Animal Park                             4
Cemetery                                4
Rental Car Agency                       3
Coffee Shop                             3
Library                                 3
Campground                              2
Sporting Goods Store                    2
Golf Course                             2
Airport                                 1
Truck Dealership                        1
Historical Monument                     1
Parking Garage/House                    1
Tourist Information                     1
Museum                                  1
Taxi Stand                              1
Name: POI_TYPE, dtype: int64

In [3]:
df.columns

Index(['POI_ID', 'POI_TYPE', 'LAT', 'LON'], dtype='object')

In [4]:
df.head()

       POI_ID                    POI_TYPE      LAT      LON
0  1211051907             Medical Service  9.14170  7.31526
1  1141831325                        Bank  9.07752  7.48706
2  1083949708  Consumer Electronics Store  9.07559  7.46421
3  1141799976           Business Facility  9.08005  7.41622
4  1210942676        Park/Recreation Area  9.06254  7.49997