In [54]:
import pandas as pd
import numpy as np

home=pd.read_csv("C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\Activity assignment\\predicted_0_100.csv")
rdf = pd.read_csv("C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\RDF\\RDF\\ABUJA_2019\\2019_ABU_POI_TABLE.csv")

In [55]:
residential_areas = rdf[rdf['POI_TYPE'] == 'Residential Area/Building']
poi_types_to_select = ['Business Facility', 'Government Office']
work=rdf[rdf['POI_TYPE'].isin(poi_types_to_select)]

poi_types_to_select = ['Medical Service', 'Pharmacy','Hospital']
medical=rdf[rdf['POI_TYPE'].isin(poi_types_to_select)]

poi_types_to_select = ['Shopping', 'Grocery Store','Specialty Store']
shop=rdf[rdf['POI_TYPE'].isin(poi_types_to_select)]

poi_types_to_select = ['Auto Service & Maintenance', 'Petrol/Gasoline Station']
trans=rdf[rdf['POI_TYPE'].isin(poi_types_to_select)]

# work = rdf[(rdf['POI_TYPE'] == 'Business Facility') |  (rdf['POI_TYPE'] == 'Government Office')]
school = rdf[rdf['POI_TYPE'] == 'School']
# medical = rdf[(rdf['POI_TYPE'] == 'Medical Service') | (rdf['POI_TYPE'] == 'Pharmacy') | (rdf['POI_TYPE'] == 'Hospital') ]
# shop = rdf[(rdf['POI_TYPE'] == 'Shopping')| (rdf['POI_TYPE'] == 'Grocery Store')| (rdf['POI_TYPE'] == 'Specialty Store')]
social = rdf[rdf['POI_TYPE'] == 'Park/Recreation Area']
# trans = rdf[rdf['POI_TYPE'] == 'Auto Service & Maintenance'|  (rdf['POI_TYPE'] == 'Petrol/Gasoline Station')]
meals = rdf[rdf['POI_TYPE'] == 'Restaurant']
other = rdf[rdf['POI_TYPE'] == 'Hotel']
unidentified = rdf[rdf['POI_TYPE'] == 'Place of Worship']

In [56]:
# labeled_residential_areas=home[(home['predicted_class']== 1) | (home['predicted_class']== 0) |(home['predicted_class']== 9)  ]
labeled_work=home[home['predicted_Class']== 2]
labeled_school=home[home['predicted_Class']== 3]
labeled_medical=home[home['predicted_Class']== 4]
labeled_shop=home[home['predicted_Class']== 5]
labeled_social=home[home['predicted_Class']== 6]
labeled_trans=home[home['predicted_Class']== 7]
labeled_meals=home[home['predicted_Class']== 8]

In [57]:
home.head(5)

,Unnamed: 0,SERIALNO,STRTTIME,ENDTIME,TRVLCMIN,HHSIZE,HHVEHCNT,HHFAMINC,WRKCOUNT,R_AGE,EDUC,R_SEX,LAT,LON,predicted_Class
0,0,2020HU0853695,0,100,60,3,0.0,10,0.0,5,3,2,9.14997,7.35501,1
1,1,2020HU0853695,0,100,60,3,0.0,10,0.0,5,3,2,9.14998,7.35501,1
2,2,2020HU0853695,0,100,60,3,0.0,10,0.0,5,3,2,9.14997,7.35501,1
3,3,2018HU0270440,0,100,60,2,3.0,10,3.0,4,1,2,9.04468,7.47364,1
4,4,2018HU0270440,0,100,60,2,3.0,10,3.0,4,1,2,9.04469,7.47364,1

In [58]:
# import bisect
# #binary search to find closest LAT and LON
# def find_closest_coordinates_df(labeled_df,df):
#     lat_values=df['LAT'].values.copy()
#     lon_values=df['LON'].values.copy()
#     lat_values.sort()
#     lon_values.sort()
#     for idx, row in labeled_df.iterrows():
#         lat=labeled_df.at[idx,'LAT']
#         lon=labeled_df.at[idx,'LON']
        
#         insertion_point = bisect.bisect_left(lat_values, lat)
#         if insertion_point == 0: labeled_df.at[idx,'LAT']=lat_values[0]
#         elif insertion_point == len(lat_values): labeled_df.at[idx,'LAT']=lat_values[-1]
#         elif lat - lat_values[insertion_point-1] < lat_values[insertion_point] - lat:
#             labeled_df.at[idx,'LAT'] = lat_values[insertion_point-1]
#         else : labeled_df.at[idx,'LAT'] = lat_values[insertion_point]
        
#         insertion_point = bisect.bisect_left(lon_values, lon)
#         if insertion_point == 0: labeled_df.at[idx, 'LON'] = lon_values[0]
#         elif insertion_point == len(lon_values): labeled_df.at[idx, 'LON'] = lon_values[-1]
#         elif lon - lon_values[insertion_point - 1] < lon_values[insertion_point] - lon:
#             labeled_df.at[idx, 'LON'] = lon_values[insertion_point - 1]
#         else: labeled_df.at[idx, 'LON'] = lon_values[insertion_point]

In [59]:
from haversine import haversine
import math
def find_closest_coordinates_df(labeled_df, df):
    lat_values=df['LAT'].values.copy()
    lon_values=df['LON'].values.copy()
    dist=[]
    for i in range(len(df)): dist.append((lat_values[i],lon_values[i]))
    for idx, row in labeled_df.iterrows():
        lat=labeled_df.at[idx,'LAT']
        lon=labeled_df.at[idx,'LON']
        mindist=math.inf
        for j in range(len(dist)):
            distance=haversine((lat,lon),dist[j])
            if(distance<mindist):
                distanc=mindist
                labeled_df.at[idx,'LAT']=lat
                labeled_df.at[idx,'LON']=lon

In [60]:
find_closest_coordinates_df(labeled_work,work)
labeled_work.head()

,Unnamed: 0,SERIALNO,STRTTIME,ENDTIME,TRVLCMIN,HHSIZE,HHVEHCNT,HHFAMINC,WRKCOUNT,R_AGE,EDUC,R_SEX,LAT,LON,predicted_Class
185,185,2021HU0764711,0,100,60,38,3.0,7,3.0,2,1,1,9.02933,7.58585,2
186,186,2021HU0764711,0,100,60,38,3.0,7,3.0,2,1,1,9.02934,7.58585,2
187,187,2021HU0764711,0,100,60,38,3.0,7,3.0,2,1,1,9.02933,7.58585,2
188,188,2021HU0764711,0,100,60,38,3.0,7,3.0,2,1,1,9.02934,7.58585,2
189,189,2021HU0764711,0,100,60,38,3.0,7,3.0,2,1,1,9.02933,7.58585,2

In [61]:
labeled_work['LAT'].value_counts()

LAT
9.02933    19
9.02934    19
9.07484    16
9.07485    15
9.07625    14
           ..
8.87967     1
9.07819     1
9.07488     1
9.04237     1
9.10240     1
Name: count, Length: 148, dtype: int64

In [62]:
for _ in range(24):
    filename="C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\Activity assignment\\predicted_"+str(_*100)+"_"+str((_+1)*100)+".csv"
    home=pd.read_csv(filename)
    labeled_work=home[home['predicted_Class']== 2]
    labeled_school=home[home['predicted_Class']== 3]
    labeled_medical=home[home['predicted_Class']== 4]
    labeled_shop=home[home['predicted_Class']== 5]
    labeled_social=home[home['predicted_Class']== 6]
    labeled_trans=home[home['predicted_Class']== 7]
    labeled_meals=home[home['predicted_Class']== 8]
    find_closest_coordinates_df(labeled_work,work)
    find_closest_coordinates_df(labeled_school,school)
    find_closest_coordinates_df(labeled_medical,medical)
    find_closest_coordinates_df(labeled_shop,shop)
    find_closest_coordinates_df(labeled_social,social)
    find_closest_coordinates_df(labeled_trans,trans)
    find_closest_coordinates_df(labeled_meals,meals)
    combined_df=pd.concat([labeled_work,labeled_school,labeled_medical,labeled_shop,
                           labeled_social,labeled_trans,labeled_meals])
    combined_df=combined_df.sort_values(by="SERIALNO")
    filename="C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\Activity assignment\\locations_"+str(_*100)+"_"+str((_+1)*100)+".csv"
    combined_df.to_csv(filename)